# Jekyll
collections/_drafts/*.md
collections/_posts/test/*.md
_site/
.DS_Store
*.swp
.sass-cache
.jekyll-metadata
Gemfile.lock
.rake_tasks~
logs/

# npm
node_modules/
package-lock.json

# JetBrain
.idea/
