<head>
  {% include metadata.html %}

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/emoji.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/content.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/sidebar.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/highlight.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/others.css">

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Red+Hat+Text:400,400italic,500,500italic|Red+Hat+Display:400,400italic,500,500italic">

  <!-- Icons -->
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">

  <!-- Canonical URL -->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  {% include scripts.html %}
</head>

