<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
    <title>{{ page.title }}</title>
    <!--metadata-->
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="David Ngai" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% seo %}
    <!--ref. links-->
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">
    <link rel="stylesheet" type="text/css" href="/assets/css/about.css">
    <link rel="stylesheet" type="text/css" href="https://emoji-css.afeld.me/emoji.css">
</head>
<body>