/* iterm2 coloring scheme */
$foreground: #cff0ff;
$selection: #d0e3ff;
$background: rgba(0, 0, 0, 0.8);
$selected_text: rgba(25, 25, 25, 0.8);
// $background: #000000;
// $selected_text: #333333;
$bold: #ffffff;
$badge: #c0d0ff;
$links: #dceaff;
$cursor: #e6e6e6;
$cursor_guide: #c0d0ff;
$cursor_text: #ffffff;