/* iterm2 coloring scheme */
$foreground: #eaedf2;
$selection: #dde3f0;
$background: rgba(40, 43, 76, 0.8);
// $background: #282b4c;
$selected_text: rgba(29, 30, 53, 0.8);
// $selected_text: #1d1e35;
$bold: #fcfdfe;
$badge: #baaddd;
$links: #bcc8e5;
$cursor: #86899b;
$cursor_guide: #90a5d3;
$cursor_text: #fcfdfe;